.trCardInscricao{
    border: 0.5px solid #000000;
    font-weight: 400; 
}

.trCardInscricao td{
    padding: 1rem 2rem;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    background: #FAFAFA;
    color: #000000;
    border-radius: 0.25rem;   
}
