/* Container login */
.container_login{ 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* referente a caixa inteira com o formulario e a descrição */
    display: flex;
    align-items: center;
    padding:2rem;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-around;
    border:1px solid #000000;
    background: #FAFAFA;
    max-width:882px;
    border-radius: 3px;
}
.container_title{
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #000000;
    position: relative;
}
.container_title_em{
    color:#006DB5;
    font-family: 'Open Sans';
}
.container_subtitle{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.container_description{
    display:flex;
    flex-direction: column;
    max-width: 320px;
    /* referente a caixa da descrição */
    font-family: 'Open Sans';
    font-weight: 400;    
    font-size: 16px;
    color: #000000;
}

/* Formulario */

.formulario_container__login{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:40px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 5px;
}
.form_login{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:10px;
}
.form_div_input{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.form_div_input label{
    align-self: flex-start;
}
.formulario_title__login{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.cpf{  
    font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;


color: #000000;
}
.cpf__input{
    background: #F2F2F2;
border: 0.5px solid #000000;
box-sizing: border-box;
border-radius: 4px;
padding:0.3rem;
}
.password{
    font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;

color: #000000;
}
.password__input{
    background: #F2F2F2;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding:0.3rem;
}



.buttonLog{
    
  

    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #FFFFFF;
    background: #008BE7;
    border-radius: 3px;
}
span{
    padding: 0 auto;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;


color: #000000;
}