.containerBodyProfNotas{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    margin: 20px auto;
}

.containerBodyProfNotas h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    text-align: center;
    color: #000000
}
.containerBodyProfNotas p{
    padding:0.5rem 0 0rem 3rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    align-self: flex-start;
    color: #000000;
}
.containerBodyProfNotas table {
    margin: 0 20px;
    width: 844px;
    border-spacing: 0 0.5rem;
}
.containerBodyProfNotas table th{ 
    font-weight: 700;
    color: #000000;
    padding: 1rem 2rem;
    text-align: left;
    line-height: 1.5rem;
}
.containerBodyProfNotas h2{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    align-self: flex-start;
    padding:0.5rem 0 0rem 3rem;
}
