.trCardletivo02{
    font-weight: 400;
    margin-bottom: 2rem;
    border-spacing: 60px 10rem;
    box-shadow: 0px 0px 0px 1px black;
}
.trCardletivo02 td{
    padding: 1rem 2rem;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    background: #FAFAFA;
    color: #000000;
    border-radius: 0.25rem;
    min-width: 350px;   
}
.end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}