.trCard02Curriculo{
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 2rem;
    border-spacing: 60px 10rem;
    box-shadow: 0px 0px 0px 1px black;
}
.trCard02Curriculo td{
    padding: 1rem 2rem;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    background: #FAFAFA;
    color: #000000;
    border-radius: 0.25rem;
    min-width: 400px;   
}

/* .periodos{
    background: #FAFAFA;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
} */
/* .periodos option{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

display: flex;
align-items: center;
text-align: center;
} */
