.containerBody{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 10px;
    /* margin: 20px auto; */
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 2.5rem;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    align-self: center;
}

.form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    width: 100%;
}

.form input {
    background: #F2F2F2;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    height: 35px;
}
.dados {
    align-self: center;
}
.dados div {
    padding-left: 1rem;
}

.inputName {
    /* width: 100%; */
    min-width: 900px;
    
}

.inputName > p:nth-child(1) {
    font-size: 22px;
}

.dados p{
    width: 100%;
    padding-top: 1rem;
}

.inputName > input {
    width: 45%;
}

.formContato div div {
    padding-left: 1rem;
}

.form > div:nth-child(2){
    display: flex;
}

.form > div:nth-child(2) > p:nth-child(2){
    padding: 0 40px;
}

.formContato {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    min-width: 900px;
    padding-top: 1rem;
    align-self: center;
}

.formContato p {
    padding-top: 1rem;
}
.form {
    padding: 2rem 8rem;
    align-self: center;
    
}
.formContato > div:nth-child(1){
    display: flex;
}
.formContato > div:nth-child(2){
    display: flex;
}

.formContato > div:nth-child(3){
    display: flex;
}

.formContato input {
    width: 100%;
}

.inputRua {
    width: 45%;
}

.inputNumero {
    width: 10%;
}

.inputBairro {
    width: 35%;
}

.inputComplemento {
    width: 30%;
}

.inputEstado {
    width: 32%;
}

.inputCep {
    width: 28%;
}

.inputTelefone {
    width: 30%;
}

.inputCelular {
    width: 32%;
}
