.containerForm{
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 40px 10px;
    /* margin: 20px auto; */
    margin: 2.5rem;
    grid-column-start:2;
    grid-column-end:4;
}

.containerForm h1{
    text-align: center ;
    font-size: 36px;
    font-family: 'Open Sans';
}
.containerForm .dados p{
    margin: 0.3rem;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.dados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5%;
}

.containerForm .dados .rows label{
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 16px;
}

.rows{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.3rem;
}

.containerForm .dados .rows input{
    background: #F2F2F2;
    border: 0.5px solid #000000;
    border-radius: 4px;
    min-width:70%;
    padding: 0.4rem;
}
.contato{
    display:flex;    
    flex-direction: column;
    justify-content: flex-start;
}
.contato h2{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    margin: 0.3rem;
    padding: 2rem 0 1rem 0;
}
.inputcontatos{
    display:flex;    
    flex-direction: row;
    margin: 0.3rem;
}
.rows02{
    display:flex;
    flex-direction: column;
    padding:0 1rem 0 0 ;
}
.rows02 p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}
.rows02 input{
    background: #F2F2F2;
    border: 0.5px solid #000000;
    border-radius: 4px; 
    min-width:203px;
    padding:0.3rem;
}
.rows02 .email{
    min-width:300px;
}
.buttons{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-end ;
    gap: 1rem;
}
.allBtns{
    margin-top: 10%;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    /* align-self:flex-end; */
}
.buttonSave{
    display:flex;
    justify-content:center;
}
.alinhador{
    padding-left:15%;
}