.btnEdit {
    background-color: #FFFF;
    border-color: black;
    border-radius: 3px;
    width: 8rem;
    height: 2rem;
    font-weight: 750;
    transition: 0.5s;
}

.btnEdit:hover {
    background-color: rgb(212, 207, 207);
}