.btnGerenciarMateriais{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    padding: 0.6rem;
    width: auto;
    height: auto;
}
.btnGerenciarMateriais:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}