.btnInscrever{
    color:  #000000;
    text-transform: uppercase;
    background: #47AAEC;
    font-weight: 600;
    border: none;;
    padding: 0.5rem 1rem 0.5rem 1rem ;
    font-size: 14px;;
    border-radius: 1px;
}