.btnPlanejar{
    font-family: 'Open Sans';
    color: #FFFFFF ;
    background: #008BE7;
    font-weight: 700;
    border: none;;
    padding: 0.5rem 1rem 0.5rem 1rem ;
    font-size: 18px;;
    border-radius: 3px;
}