.btnSalvar{
    color:  #FFFFFF;
    background: #47AAEC;
    font-weight: 700;
    border: none;
    text-align: center;
    padding:1rem 5rem;
    border-radius: 1px;
    font-size: 18px;
}
.btnSalvar:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}