.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFF;
  border: 1px solid;
  border-top: none;
  border-bottom: none;
  border-left: none;
  grid-column-start: 1;
  grid-column-end: 2;
}
.blueBox {
  background-color: #47AAEC;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.blueBox p {
  font-size: 23px;
  text-align: center;
    
}

.codigo {
  padding-bottom: 1.5rem;
}

.whiteBox > ul li {
  border: 1px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0.3rem;
  display: flex;   
  
}

.whiteBox ul li > p {
  padding-left: 0.3rem;
  font-size: 18px;
  font-weight: 400;
  
}

.sidebar > img {
  width: 50px;
  height: 45px;
  padding-bottom: 10px;
}