.containerBodyLetivoPlan{
    background: #FFFFFF;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    /* margin: 20px auto; */
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 2.5rem;
}
.containerBodyLetivoPlan h1{
    font-weight: 600;
    font-size: 36px;
    font-family: 'Open Sans';
    text-align: center;
}
.descriptionPlan{
    display: flex;
    flex-direction:column;
    /* justify-content: flex-start; */
    padding: 5rem;
    gap: 5px;
}
.descriptionPlan p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}
.addMaterias{
    padding-top:2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addMaterias p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;    
}
.containerBodyLetivoPlan table {
    margin: 0 20px;
    min-width: 844px;
    border-spacing: 0 0.5rem;
}

