.containerBodyLetivoConcluido{
    background: #FFFFFF;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    /* margin: 20px auto; */
    /* jsutify-content: flex-start; */
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 2.5rem;
}
.containerBodyLetivoConcluido h1{
    font-weight: 600;
    font-size: 36px;
    font-family: 'Open Sans';
    text-align: center;
}
.descriptionConcluido{
    display: flex;
    flex-direction:column;
    /* justify-content: flex-start; */
    padding: 5rem;
    gap: 5rem;
}
.descriptionConcluido p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}

.rowing{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}
.adjustP{
    display: flex;
    align-self:flex-start;
}