.containerBody{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    margin: 20px auto;

}
.containerBody h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    text-align: center;
    color: #000000
}
.containerBody p{
    padding:2rem 0 1.5rem 3rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    align-self: flex-start;
    line-height: 25px;
    /* identical to box height */
    color: #666666;
}
table {
    margin: 0 20px;
    width: 844px;
    border-spacing: 0 0.5rem;
}
th{ 
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: left;
    line-height: 1.5rem;
}

