.cursos_container{
    padding:0 0 2rem 3rem;
    align-self: flex-start;
}
.cursos_container label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display:inline;
    align-items: center;
    color: #000000;
}
.cursos_container select{
    padding-right:10px ;
    padding-left:10px ;
    background: #FAFAFA;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    min-width:225px;
    min-height:29px;
}
.cursos_container select option{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* identical to box height */
    text-align: center;
}