.trCardProfNotas{
    font-weight: 400;
    margin-bottom: 2rem;
    border-spacing: 60px 10rem;
    box-shadow: 0px 0px 0px 1px black;
}
.trCardProfNotas td{
    padding: 1rem 2rem;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    background: #FAFAFA;
    color: #000000;
    border-radius: 0.25rem; 
}
.notas{
    display: flex;
    flex-direction: row;
}
.inputNota{
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
    background: #FAFAFA;
    border: 0.5px solid #000000;
    padding: 0.7rem;
    margin-right: 10px;
}
.nomeTd{
    padding:0 10rem 0 2rem !important;
}